* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

.page_name {
    background: aquamarine;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.register_btn {
    width: 120px;
    height: 40px;
    float: right;
    margin-right: 160px;
    padding-bottom: 50px;
}
.register_btn > button {
    width: 100%;
    height: 100%;
    background: blue;
    color: gainsboro;
}

.product_list {
    border-top: gray 2px solid;
    width: 1280px;
    margin: auto;
    background: antiquewhite;
}

.product_list > thead {
    height: 100px;
    background: cadetblue;
    text-align: justify;
}

.product_list > tbody > tr{
    height: 60px;
    background: blanchedalmond;
    border-bottom: black solid 1px;
}

/*상품 상세*/
.input_form {
    border: solid 1px black;
    width: 800px;
    height: 400px;
    margin: auto;
    padding: 40px;
}

.input_form > form > div > input{
    border: solid 1px black;
    width: 100%;
    height: 30px;

}

.btn_bar {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.submit {
    width: 240px;
    height: 40px;
}
.cancel {
    width: 240px;
    height: 40px;
}